<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.ViperViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>app-modules/movie-module/entity/MovieModel.swift</string>
						<string>app-modules/movie-module/interactor/MovieInteractor.swift</string>
						<string>app-modules/movie-module/presenter/MoviePresenter.swift</string>
						<string>app-modules/movie-module/protocols/MovieProtocol.swift</string>
						<string>app-modules/movie-module/router/MovieRouter.swift</string>
						<string>app-modules/movie-module/view/MovieViewController.swift</string>
						<string>app-modules/notice-module/interactor/NoticeInteractor.swift</string>
						<string>app-modules/notice-module/entity/NoticeModel.swift</string>
						<string>app-modules/notice-module/presenter/NoticePresenter.swift</string>
						<string>app-modules/notice-module/protocols/NoticeProtocols.swift</string>
						<string>app-modules/notice-module/router/NoticeRouter.swift</string>
						<string>app-modules/notice-module/view/NoticeViewController.swift</string>
						<string>app-settings/AppDelegate.swift</string>
						<string>common-utils/app-constants/AppConstants.swift</string>
						<string>common-utils/AppUtils.swift</string>
						<string>common-utils/Base/BaseViewController.swift</string>
						<string>common-utils/Base/EmptySegue.swift</string>
						<string>common-utils/Base/MainTapSegmentController.swift</string>
						<string>common-utils/Base/SwipeNavigationController.swift</string>
						<string>common-utils/Base/TabbarViewController.swift</string>
						<string>common-utils/ui-utils/ProgressIndicator.swift</string>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>../Podfile</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>../Podfile</string>
			<key>TargetIndices</key>
			<array/>
			<key>Beginning</key>
			<string># Uncomment the next line to define a global platform for your project;
platform :ios, &apos;9.0&apos;
target &apos;___PACKAGENAME___&apos; do;
use_frameworks!;
pod &apos;Alamofire&apos; , &apos;~&gt; 4.0&apos;
pod &apos;AlamofireImage&apos; , &apos;~&gt; 3.3&apos;
pod &apos;AlamofireObjectMapper&apos; , &apos;~&gt; 4.0&apos;
</string>
			<key>End</key>
			<string>
end
  </string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>app-modules/movie-module/entity/MovieModel.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/movie-module/entity/MovieModel.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>movie-module</string>
				<string>entity</string>
			</array>
		</dict>
		<key>app-modules/movie-module/interactor/MovieInteractor.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/movie-module/interactor/MovieInteractor.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>movie-module</string>
				<string>interactor</string>
			</array>
		</dict>
		<key>app-modules/movie-module/presenter/MoviePresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/movie-module/presenter/MoviePresenter.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>movie-module</string>
				<string>presenter</string>
			</array>
		</dict>
		<key>app-modules/movie-module/protocols/MovieProtocol.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/movie-module/protocols/MovieProtocol.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>movie-module</string>
				<string>protocols</string>
			</array>
		</dict>
		<key>app-modules/movie-module/router/MovieRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/movie-module/router/MovieRouter.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>movie-module</string>
				<string>router</string>
			</array>
		</dict>
		<key>app-modules/movie-module/view/MovieViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/movie-module/view/MovieViewController.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>movie-module</string>
				<string>view</string>
			</array>
		</dict>
		<key>app-modules/notice-module/interactor/NoticeInteractor.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/notice-module/interactor/NoticeInteractor.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>notice-module</string>
				<string>interactor</string>
			</array>
		</dict>
		<key>app-modules/notice-module/entity/NoticeModel.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/notice-module/entity/NoticeModel.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>notice-module</string>
				<string>entity</string>
			</array>
		</dict>
		<key>app-modules/notice-module/presenter/NoticePresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/notice-module/presenter/NoticePresenter.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>notice-module</string>
				<string>presenter</string>
			</array>
		</dict>
		<key>app-modules/notice-module/protocols/NoticeProtocols.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/notice-module/protocols/NoticeProtocols.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>notice-module</string>
				<string>protocols</string>
			</array>
		</dict>
		<key>app-modules/notice-module/router/NoticeRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/notice-module/router/NoticeRouter.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>notice-module</string>
				<string>router</string>
			</array>
		</dict>
		<key>app-modules/notice-module/view/NoticeViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>app-modules/notice-module/view/NoticeViewController.swift</string>
			<key>Group</key>
			<array>
				<string>app-modules</string>
				<string>notice-module</string>
				<string>view</string>
			</array>
		</dict>
		<key>app-settings/AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>app-settings/AppDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>app-settings</string>
			</array>
		</dict>
		<key>common-utils/app-constants/AppConstants.swift</key>
		<dict>
			<key>Path</key>
			<string>common-utils/app-constants/AppConstants.swift</string>
			<key>Group</key>
			<array>
				<string>common-utils</string>
				<string>app-constants</string>
			</array>
		</dict>
		<key>common-utils/AppUtils.swift</key>
		<dict>
			<key>Path</key>
			<string>common-utils/AppUtils.swift</string>
			<key>Group</key>
			<array>
				<string>common-utils</string>
			</array>
		</dict>
		<key>common-utils/Base/BaseViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>common-utils/Base/BaseViewController.swift</string>
			<key>Group</key>
			<array>
				<string>common-utils</string>
				<string>Base</string>
			</array>
		</dict>
		<key>common-utils/Base/EmptySegue.swift</key>
		<dict>
			<key>Path</key>
			<string>common-utils/Base/EmptySegue.swift</string>
			<key>Group</key>
			<array>
				<string>common-utils</string>
				<string>Base</string>
			</array>
		</dict>
		<key>common-utils/Base/MainTapSegmentController.swift</key>
		<dict>
			<key>Path</key>
			<string>common-utils/Base/MainTapSegmentController.swift</string>
			<key>Group</key>
			<array>
				<string>common-utils</string>
				<string>Base</string>
			</array>
		</dict>
		<key>common-utils/Base/SwipeNavigationController.swift</key>
		<dict>
			<key>Path</key>
			<string>common-utils/Base/SwipeNavigationController.swift</string>
			<key>Group</key>
			<array>
				<string>common-utils</string>
				<string>Base</string>
			</array>
		</dict>
		<key>common-utils/Base/TabbarViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>common-utils/Base/TabbarViewController.swift</string>
			<key>Group</key>
			<array>
				<string>common-utils</string>
				<string>Base</string>
			</array>
		</dict>
		<key>common-utils/ui-utils/ProgressIndicator.swift</key>
		<dict>
			<key>Path</key>
			<string>common-utils/ui-utils/ProgressIndicator.swift</string>
			<key>Group</key>
			<array>
				<string>common-utils</string>
				<string>ui-utils</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
